#header {
  padding: 2rem 2rem;
  & h1 {
    font-weight: 400;
    font-size: 1.8rem;
    padding-bottom: 0.5rem;
  }

  & #btn-new-todo {
    position: absolute;
    right: 2rem;
    top: 2rem;
    display: flex;
    align-items: center;
    gap: 0.5rem;

    & svg {
      fill: $gray;
      width: 10px;
      transition: $fast-transition;
    }

    & span {
      font-size: 0.8rem;
      padding-bottom: 0.1rem;
    }

    &:hover {
      & svg {
        fill: $light;
      }
    }
  }
}
