#projects {
  width: 320px;
  box-shadow: 0 0 5px #080808;
  background-color: rgba($dark, 0.94);
  border-radius: 0.25rem;
  display: flex;
  flex-direction: column;
}

.projects--header {
  display: flex;
  justify-content: space-between;
  padding: 1.5rem 1rem 1.5rem 1rem;
  border-bottom: 1px solid rgba($gray, 0.5);

  & h2 {
    font-size: 1.5rem;
    font-weight: 300;
  }
}

#btn-new-project {
  border: 0;
  outline: none;
  padding: 0.2rem 0.5rem 0 0;

  & svg {
    width: 15px;
    fill: $gray;
    transition: $fast-transition;
  }
}

#btn-new-project:hover {
  & svg {
    fill: $light;
  }
}

#btn-new-project:focus {
  outline: none;
}

.projects--list {
  overflow-y: auto;
}

.project-item {
  display: block;
  padding: 0.8rem 1rem;
  color: $gray;
  font-family: $font-system;
  z-index: 1000;
  word-wrap: break-word;
}

.project-item:hover {
  color: $light;
  transition: $fast-transition;
}

.project-item--active {
  background-color: $darkgray;
  color: $light;
}

#new-project-input {
  width: 100%;
  display: block;
  padding: 0.8rem 1rem;
  font-family: $font-system;
  animation: slide-down $fast-transition;
}

@keyframes slide-down {
  0% {
    transform: translateY(-50%);
  }
  100% {
    transform: unset;
  }
}
