#todo {
  position: relative;
  width: calc(100% - 320px);
  box-shadow: 0 0 5px #080808;
  background-color: $dark;
  border-radius: 0.25rem;
  overflow: auto;
}

.list-item {
  border-bottom: 1px solid rgba(255, 255, 255, 0.1);
  transition: $fast-transition;
}

.basic-info {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  padding: 1rem 2rem 1rem 3rem;
  position: relative;
  cursor: pointer;

  & div {
    display: flex;
    flex-direction: column;
  }

  & span {
    display: inline-block;
  }
}

.full-info {
  padding-left: 3rem;
  padding-right: 2rem;
  max-height: 0px;
  transition: max-height $fast-transition ease-in-out;
  overflow: hidden;
}

.list-item--priority {
  position: absolute;
  left: 1rem;
  top: 1.18rem;
  width: 0.8rem;
  aspect-ratio: 1;
  border-radius: 100%;
}

.list-item--title {
  margin-bottom: 0.5rem;
}

.list-item--description {
  font-size: 0.8rem;
  color: $gray;
}

.list-item--date {
  margin-top: 0.5rem;
}

.list-item--notes {
  line-height: 1.3rem;
  font-size: 0.95rem;
}

.list-item--checklist {
  display: flex;
  flex-direction: column;
  font-size: 0.95rem;
  margin: 1rem 0;

  & p {
    font-weight: 600;
    margin-bottom: 0.5rem;
  }

  & li {
    margin-bottom: 0.5rem;
  }

  & li::before {
    content: '- ';
  }
}

.low-priority {
  background-color: $low-priority;
}

.normal-priority {
  background-color: $normal-priority;
}

.high-priority {
  background-color: $high-priority;
}

.expanded {
  background: rgb(10, 10, 10);
}
