.btn {
  font-family: $font-system;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $gray;
  color: $gray;
  transition: $fast-transition;
  border-radius: 2px;

  &:hover {
    color: $light;
    border: 1px solid $light;
  }
}
