.btn {
  font-family: $font-system;
  font-size: 0.8rem;
  padding: 0.4rem 1rem;
  cursor: pointer;
  background-color: transparent;
  border: 1px solid $gray;
  color: $gray;
  transition: $fast-transition;

  &:hover {
    color: $light;
    border: 1px solid $light;
  }
}

#btn-new-todo {
  position: absolute;
  right: 2rem;
  top: 2rem;
}

#btn-new-checklist-item {
  height: 39px;
  aspect-ratio: 1;
  font-size: 2rem;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
}

#btn-new-project {
  height: 30px;
  aspect-ratio: 1;
  font-weight: 300;
  display: flex;
  justify-content: center;
  align-items: flex-end;
  font-size: 2rem;
  line-height: 28px;
  border: 0;
}
