// Colors
$dark: #101112;
$light: #fff;
$gray: #b3b3b3;
$darkgray: rgba(255, 255, 255, 0.05);
$low-priority: #63dd2c;
$normal-priority: #ddd22c;
$high-priority: #dd2c2c;

// Text
$font-sans: 'Roboto';
$font-mono: 'JetBrains Mono', monospace;
$font-system: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen,
  Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;

// Animations
$fast-transition: 0.3s;
$slow-transition: 1s;
